@charset "utf-8";
/* CSS Document */

.navbar-wrapper {
	width:100%;
	margin:0px !important;
	top:0px;
	left:0px;
	position:absolute;
}

.navbar-nav a{
	margin-left:20px;
}

.carousel-caption{
	font-size:xx-large !important;
}

.carousel-inner{
	display:flex;
	justify-content:center;
}

.attribute-tag{
	display:inline;
	background-color:#CCC;
	padding: 10px;
	border-radius: 5px;
}