@charset "utf-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400,700';

body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Quicksand', sans-serif !important;
	}

.logo{
	height:100%;
}

.navbar-wrapper {
	width:100%;
	margin:0px !important;
	top:0px;
	left:0px;
	position:absolute;
	vertical-align:middle;
}

.navbar{
	background:#442684 !important;
	opacity:0.9;
	box-shadow: 0px 0px 20px #332454;
}

.navbar a{
	height:65px;
	color:#FFF !important;
}

.navbar a:active{
	color:#FFF !important;
}

.navbar-brand img{
	padding: 0px;
    height: 155%;
    margin-top: -5px;
}

.navbar-nav a{
	margin-left:20px;
}

.carousel{
	align-items:center;
}

.carousel-caption{
	font-size:xx-large !important;
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	top:10px;
}

.carousel-inner{
	display:flex;
	justify-content:center;
}

.carousel-inner img{
	width:100% !important;
}

h1, h2, h3, h4 , h5, h6{
	color:#442684 !important;
}

.attribute-tag{
	display:inline;
	background-color:#BBB;
	padding: 10px;
	border-radius: 5px;
}

.well{
	margin:5px;
}

.result-title{
	font-size:large;
}

footer{
	margin-top:25px;
}

footer p{
	padding:10px;
}

a.scroll:hover{
	background-color:#FFFFFF !important;
	color:#B800FF !important;
}

.carousel-inner .item .bg-textoimg {
	background-color: rgba(111,111,111,0.5);
	padding: 20px;
}

a.textatt {
	color:#000000;
	text-decoration:none;
}

a.textatt:hover {
	
	text-decoration:none;
}

.attribute-tag.visited,
.attribute-tag:hover {
	color:#FFFFFF;
	background-color:#442684;	
}

a.lugares {
	color:#000000;	
}

a.lugares:hover {
	color:#442684;	
}

a.link_login {
	margin-left:680px;
}

a.link_login:hover {
	background-color:#FFFFFF !important;
	color:#B800FF !important;
}

form.form-inline {
	text-align:center;
}

form.form-inline h2 {
	margin:35px 0px 30px 0px;
}

form.form-inline p {
	margin: 25px 0;
}

.map {
	margin-left:10%;
	width:80%;
	height:350px;
}

.maplug {
	margin-top:-5px;
	margin-bottom:15px;
	text-align:center;
		
}

.rodape {
	text-align:center;	
}

.login {
	margin-top:100px;	
}

.form-control {
	margin-top: 10px;	
}

.detalhes {
	text-align:center;
	margin-left:850px;
		
}

.lug {
	text-align:center;	
}
